<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}
	<title>READdict | Your book reading tracker</title>
    {% endblock %}
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'Reading/images/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'Reading/images/icon.png' %}">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'Reading/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'Reading/css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'Reading/css/style.css' %}">

	<!-- Cusom css -->
   <link rel="stylesheet" href="{% static 'Reading/css/custom.css' %}">

	<!-- Modernizer js -->
	<script src="{% static 'Reading/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'Reading/js/vendor/jquery-3.2.1.min.js' %}"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header" class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a href="{% url 'home' %}">
								<img src="{% static 'Reading/images/logo/logo.png' %}" alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a style="color: whitesmoke" href="{% url 'home' %}">Home</a></li>

								<li class="drop"><a style="color: whitesmoke" href="{% url 'Reading:books' %}">Books</a>
									<div class="megamenu mega03">
										<ul class="item item03">
											<li class="title">Categories</li>
                                            {% for category in categories %}
                                                {% if forloop.counter < 6 %}
											<li><a href="{% url 'Reading:books_by_category' category.id %}">{{ category.title }} </a></li>
                                                {% endif %}
                                            {% endfor %}
										</ul>
                                    {% if categories|length > 5 %}
										<ul class="item item03">
                                            {% for category in categories %}
                                                {% if forloop.counter > 6 and forloop.counter < 11 %}
											<li><a href="{% url 'Reading:books_by_category' category.id %}">{{ category.title }} </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if categories|length > 10 %}
										<ul class="item item03">
                                            {% for category in categories %}
                                                {% if forloop.counter > 11 and forloop.counter < 16 %}
											<li><a href="{% url 'Reading:books_by_category' category.id %}">{{ category.title }} </a></li>
                                                {% endif %}
                                            {% endfor %}
										</ul>
                                    {% endif %}
									</div>
								</li>


							</ul>
						</nav>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li>
                            {% if request.user.is_authenticated %}
                                    <a class="btn btn-outline-dark" href="{% url 'logout' %}">Logout</a>
                                {% else %}
                                    <a style="color: whitesmoke" class="btn btn-outline-dark" href="{% url 'login' %}">Login</a>
                                {% endif %}
                            </li>
						</ul>

					</div>

				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="{% url 'home' %}">Home</a></li>

								<li><a href="{% url 'Reading:books' %}">Books</a>

								</li>

							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->
			</div>
		</header>
		<!-- //Header -->

    {% block body %}


    {% endblock %}
    <!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a href="index.html">
										<img src="{% static 'Reading/images/logo/3.png' %}" alt="logo">
									</a>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered duskam alteration variations of passages</p>
								</div>
								<div class="footer__content">
									<ul class="social__net social__net--2 d-flex justify-content-center">
										<li><a href="#"><i class="bi bi-facebook"></i></a></li>
										<li><a href="#"><i class="bi bi-google"></i></a></li>
										<li><a href="#"><i class="bi bi-twitter"></i></a></li>
										<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
										<li><a href="#"><i class="bi bi-youtube"></i></a></li>
									</ul>
{#									<ul class="mainmenu d-flex justify-content-center">#}
{#										<li><a href="index.html">Trending</a></li>#}
{#										<li><a href="index.html">Best Seller</a></li>#}
{#										<li><a href="index.html">All Product</a></li>#}
{#										<li><a href="index.html">Wishlist</a></li>#}
{#										<li><a href="index.html">Blog</a></li>#}
{#										<li><a href="index.html">Contact</a></li>#}
{#									</ul>#}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>Copyright <i class="fa fa-copyright"></i> <a href="https://freethemescloud.com/">Free themes Cloud.</a> All Rights Reserved</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="payment text-right">
								<img src="{% static 'Reading/images/icons/payment.png' %}" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //Footer Area -->
		<!-- QUICKVIEW PRODUCT -->
		<div id="quickview-wrapper">
		    <!-- Modal -->
		    <div class="modal fade" id="productmodal" tabindex="-1" role="dialog">
		        <div class="modal-dialog modal__container" role="document">
		            <div class="modal-content">
		                <div class="modal-header modal__header">
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                </div>
		                <div class="modal-body">
		                    <div class="modal-product">
		                        <!-- Start product images -->
		                        <div class="product-images">
		                            <div class="main-image images">
		                                <img alt="big images" src="{% static 'Reading/images/product/big-img/1.jpg' %}">
		                            </div>
		                        </div>


		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- END QUICKVIEW PRODUCT -->
	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="{% static 'Reading/js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'Reading/js/popper.min.js' %}"></script>
	<script src="{% static 'Reading/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'Reading/js/plugins.js' %}"></script>
	<script src="{% static 'Reading/js/active.js' %}"></script>

    {% block scripts %}

    {% endblock %}

</body>
</html>

