{% extends 'Reading/base.html' %}
{% load static %}

{% block body %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6" style="background-image: url('https://i.ibb.co/Wk5CJmz/Free-Black-And-Red-Wallpaper.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Books</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Books</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Shop Page -->
        <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
        				<div class="shop__sidebar">
        					<aside class="wedget__categories poroduct--cat">
        						<h3 class="wedget__title">Categories</h3>
        						<ul>
                                    {% for category in categories %}
        							<li><a href="{% url 'Reading:books_by_category' category.id %}" id="{{ category.id }}">{{ category.title }} <span>{{ category.books }}</span></a></li>
                                    {% endfor %}
        						</ul>
        					</aside>

        				</div>
        			</div>
        			<div class="col-lg-9 col-12 order-1 order-lg-2">
        				<div class="row">
        					<div class="col-lg-12">
								<div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
									<div class="shop__list nav justify-content-center" role="tablist">
			                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
			                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i class="fa fa-list"></i></a>
			                        </div>
{#			                        <p>Showing 1–12 of 40 results</p>#}

		                        </div>
        					</div>
        				</div>
        				<div class="tab__container">
	        				<div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
	        					<div class="row">
                                    {% for book in books %}
	        						<!-- Start Single Product -->
		        					<div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
			        					<div class="product__thumb">
											<a class="first__img" href="{% url 'Reading:single_book' book.id %}"><img src="{{ book.image }}" alt="product image" height="340" width="270"></a>
											<div class="hot__box">
												<span class="hot-label">BEST SALLER</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">{{ book.name }}</a></h4>
											<ul class="prize d-flex">
                                                {% for author in book.author.all %}
												<li>{{ author.name }}</li>
                                                {% endfor %}
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
                                                    <li>{{ book.rating }}</li>
												</ul>
											</div>
										</div>
		        					</div>
                                    {% endfor %}
		        					<!-- End Single Product -->

	        					</div>
	        					<ul class="wn__pagination">
	        						<li class="active"><a href="#">1</a></li>
	        						<li><a href="#">2</a></li>
	        						<li><a href="#">3</a></li>
	        						<li><a href="#">4</a></li>
	        						<li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
	        					</ul>
	        				</div>
	        				<div class="shop-grid tab-pane fade" id="nav-list" role="tabpanel">
	        					<div class="list__view__wrapper">
	        						<!-- Start Single Product -->
                                    {% for book in books %}
	        						<div class="list__view" style="padding-bottom: 20px">
	        							<div class="thumb">
	        								<a class="first__img" href="{% url 'Reading:single_book' book.id %}"><img src="{{ book.image }}" alt="product images" height="340" width="270"></a>
	        							</div>
	        							<div class="content">
	        								<h2><a href="{% url 'Reading:single_book' book.id %}">{{ book.name }}</a></h2>
	        								<ul class="rating d-flex">
	        									<li class="on"><i class="fa fa-star-o"></i></li>
	        									<li class="on"><i class="fa fa-star-o"></i></li>
	        									<li class="on"><i class="fa fa-star-o"></i></li>
	        									<li class="on"><i class="fa fa-star-o"></i></li>
	        									<li><i class="fa fa-star-o"></i></li>
                                                <li>{{ book.rating }}</li>
	        								</ul>
	        								<ul class="prize__box">
	        									{% for author in book.author.all %}
                                                    {% if forloop.counter > 1 %}
                                                        &nbsp;,&nbsp;
                                                    {% endif %}
                                                <li>{{ author.name }}</li>
                                                {% endfor %}
	        								</ul>
	        								<p>{{ book.summary }}</p>
	        								<ul class="cart__action d-flex">
	        									<li class="cart"><a href="{% url 'Reading:single_book' book.id %}">View Details</a></li>
	        									<li class="wishlist"><a href="cart.html"></a></li>
	        									<li class="compare"><a href="cart.html"></a></li>
	        								</ul>


	        							</div>
                                    </div>
                                    {% endfor %}
	        						<!-- End Single Product -->
                                    </div>
	        					</div>
	        				</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End Shop Page -->
		{% endblock %}