{% extends 'Reading/base.html' %}
{% load static %}
{% load Reading_tags %}

{% block title %}
<title>{{ book.name }} | READdict</title>
{% endblock %}

{% block body %}
		<div class="modal fade" id="readingmodal" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header no-bd">
                                                    <h5 class="modal-title">
                                                        <span class="fw-light">
                                                        {{ book.name }}
                                                    </span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="small">Please set your target date, when you want to finish the book</p>
                                                    <form method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Target Date</label>
                                                                    <input id="targetdate" type="date"
                                                                           class="form-control"
                                                                           name="target">
                                                                    <div id="datepassed" style="display: none">

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer no-bd">
                                                            <button type="button" id="StartButton"
                                                                    class="btn btn-primary">
                                                                Start Reading
                                                            </button>
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Shop Single</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Shop Single</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start main Content -->
        <div class="maincontent bg--white pt--80 pb--55">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9 col-12">
        				<div class="wn__single__product">
        					<div class="row">
        						<div class="col-lg-6 col-12">
        							<div class="wn__fotorama__wrapper">
	        							<div data-nav="thumbs">
		        							  <a href="{{ book.image }}"><img src="{{ book.image }}" alt="{{ book.name }}" style="width: 270px;height: 360px;"></a>

	        							</div>
        							</div>
        						</div>
        						<div class="col-lg-6 col-12">
        							<div class="product__info__main">
        								<h1>{{ book.name }}</h1>
        								<div class="product-reviews-summary d-flex">
        									<ul class="rating-summary d-flex">
    											<li><i class="zmdi zmdi-star-outline"></i></li>
    											<li><i class="zmdi zmdi-star-outline"></i></li>
    											<li><i class="zmdi zmdi-star-outline"></i></li>
    											<li class="off"><i class="zmdi zmdi-star-outline"></i></li>
    											<li class="off"><i class="zmdi zmdi-star-outline"></i></li>
        									</ul>
        								</div>
        								<div class="price-box">
        									<span>{{ book.rating }}</span>
        								</div>
										<div class="product__overview">Pages
                                            <p>{{ book.summary }}</p>
        								</div>
        								<div class="box-tocart d-flex">
        									<div class="addtocart__actions" {% if started %} style="display: none" {% else %} style="display: block" {% endif %}>
        										<button class="tocart" data-toggle="modal" id="startmodButton" data-target="#readingmodal" title="Start Reading" {% if request.user.is_authenticated %} style="display: block" {% else %} style="display: none" {% endif %}>Start Reading</button>
                                                <a class="btn btn-outline-success" href="{% url 'login' %}" {% if request.user.is_authenticated %} style="display: none" {% else %} style="display: block" {% endif %}>Login to start reading</a>
        									</div>


        								</div>
                                    <div class="progress" id="progdiv" {% if started %} style="display: block" {% else %} style="display: none" {% endif %}>
                                             {% if started %}
                                                <div div class="progress-bar progress-bar-striped active" id="progbar" role="progressbar" aria-valuenow="{{ book.pages }}" aria-valuemin="0" aria-valuemax="100"  style="width:{{ pages|percent:book.id }}%">
                                                    {{  pages|percent:book.id }}%
                                                </div>
                                                {% else %}
                                            <div div class="progress-bar progress-bar-striped active" id="progbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"  style="width:0.0%">
                                                    0%
                                                </div>
                                             {% endif %}
                                              </div>

                                    <div class="card" id="recommendDiv" style="display:{% if started %} block {% else %} none {% endif %} ; margin-top: 10px; " >
                                                <div class="card-body">

                                                    <h6 class="card-text" id="recommendedPage">
                                                        {% if finished %}
                                                        You already finished this book.
                                                            {% else %}
                                                        You need to read {% recommend pages book.id request.user.id %} pages per day.
                                                        {% endif %}
                                                    </h6>

                                                </div>
                                            </div>

										<div class="product_meta">
											<span class="posted_in">Categories:
                                                {% for category in book.category.all %}
                                                    {% if forloop.counter > 1 %}
                                                        ,&nbsp;
                                                    {% endif %}
												<a href="#">{{ category.title }}</a>
                                                {% endfor %}
											</span>
										</div>
										<div class="product-share">
                                        <h6 class="categories-title">Author :</h6>
											<ul>

                                                {% for author in book.author.all %}
												<li>
													<p>
														{{ author.name }}
													</p>
												</li>
                                                {% endfor %}
											</ul>
										</div>
        							</div>
        						</div>
        					</div>
        				</div>
        				<div class="product__info__detailed">
							<div class="pro_details_nav nav justify-content-start" role="tablist">
	                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
	                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
	                        </div>
	                        <div class="tab__container">
	                        	<!-- Start Single Tab Content -->
	                        	<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
									<div class="description__attribute">
                                        <p>{{ book.summary }}</p>
									</div>

                                        <div class="card" id="pageCounter" {% if started %} style="display: block" {% else %} style="display: none" {% endif %}>
                                            <div class="card-header">
                                                <h3 class="card-header-title">How many pages have you read today?</h3>
                                            </div>
                                            <div class="card-body">
                                                <form class="form-inline">
                                                    <input type="number" id="pageNumber" class="form-control" placeholder="0"> &nbsp; Pages &nbsp;
                                                    <button type="button" id="pageButton" class="btn btn-primary" value="Submit">Submit</button>
                                                </form>
                                            </div>
                                        </div>

	                        	</div>
	                        	<!-- End Single Tab Content -->
	                        	<!-- Start Single Tab Content -->
	                        	<div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
									<div class="review__attribute">
										<h1>Customer Reviews</h1>
										<h2>Hastech</h2>
										<div class="review__ratings__type d-flex">
											<div class="review-ratings">
												<div class="rating-summary d-flex">
													<span>Quality</span>
			    									<ul class="rating d-flex">
														<li><i class="zmdi zmdi-star"></i></li>
														<li><i class="zmdi zmdi-star"></i></li>
														<li><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
			    									</ul>
												</div>

												<div class="rating-summary d-flex">
													<span>Price</span>
			    									<ul class="rating d-flex">
														<li><i class="zmdi zmdi-star"></i></li>
														<li><i class="zmdi zmdi-star"></i></li>
														<li><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
			    									</ul>
												</div>
												<div class="rating-summary d-flex">
													<span>value</span>
			    									<ul class="rating d-flex">
														<li><i class="zmdi zmdi-star"></i></li>
														<li><i class="zmdi zmdi-star"></i></li>
														<li><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
			    									</ul>
												</div>
											</div>
											<div class="review-content">
												<p>Hastech</p>
												<p>Review by Hastech</p>
												<p>Posted on 11/6/2018</p>
											</div>
										</div>
									</div>
									<div class="review-fieldset">
										<h2>You're reviewing:</h2>
										<h3>Chaz Kangeroo Hoodie</h3>
										<div class="review-field-ratings">
											<div class="product-review-table">
												<div class="review-field-rating d-flex">
													<span>Quality</span>
													<ul class="rating d-flex">
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
			    									</ul>
												</div>
												<div class="review-field-rating d-flex">
													<span>Price</span>
													<ul class="rating d-flex">
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
			    									</ul>
												</div>
												<div class="review-field-rating d-flex">
													<span>Value</span>
													<ul class="rating d-flex">
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
														<li class="off"><i class="zmdi zmdi-star"></i></li>
			    									</ul>
												</div>
											</div>
										</div>
										<div class="review_form_field">
											<div class="input__box">
												<span>Nickname</span>
												<input id="nickname_field" type="text" name="nickname">
											</div>
											<div class="input__box">
												<span>Summary</span>
												<input id="summery_field" type="text" name="summery">
											</div>
											<div class="input__box">
												<span>Review</span>
												<textarea name="review"></textarea>
											</div>
											<div class="review-form-actions">
												<button>Submit Review</button>
											</div>
										</div>
									</div>
	                        	</div>
	                        	<!-- End Single Tab Content -->
	                        </div>
        				</div>
						<div class="wn__related__product pt--80 pb--50">
							<div class="section__title text-center">
								<h2 class="title__be--2">Related Products</h2>
							</div>
							<div class="row mt--60">
								<div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
									<!-- Start Single Product -->
                                    {% for category in book.category.all %}
                                        {% for books in category|related:book %}
									<div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product__thumb">
											<a class="first__img" href="{% url 'Reading:single_book' books.id %}"><img src="{{ books.image }}" height="340" width="270" alt="product image"></a>

										</div>
										<div class="product__content content--center">
											<h4><a href="{% url 'Reading:single_book' books.id %}">{{ books.name }}</a></h4>
											<ul class="prize d-flex">
												<li>{{ books.rating }}</li>
											</ul>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
                                            {% endfor %}
                                    {% endfor %}

								</div>
							</div>
						</div>
						<div class="wn__related__product">
							<div class="section__title text-center">
								<h2 class="title__be--2">Recent Books</h2>
							</div>
							<div class="row mt--60">
								<div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
									<!-- Start Single Product -->
                                    {% for recent in recents %}
									<div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product__thumb">
											<a class="first__img" href="{% url 'Reading:single_book' recent.id %}"><img src="{{ recent.image }}" height="340" width="270" alt="product image"></a>

											<div class="hot__box">
												<span class="hot-label">New</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="{% url 'Reading:single_book' recent.id %}">{{ recent.name }}</a></h4>
											<ul class="prize d-flex">
												<li>{{ recent.rating }}</li>
											</ul>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
                                    {% endfor %}
									<!-- Start Single Product -->

								</div>
							</div>
						</div>
        			</div>
        			<div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
        				<div class="shop__sidebar">
        					<aside class="wedget__categories poroduct--cat">
        						<h3 class="wedget__title">Product Categories</h3>
        						<ul>
                                    {% for category in categories %}
        							<li><a href="{% url 'Reading:books_by_category' category.id %}">{{ category.title }} <span>({{ category.books }})</span></a></li>
                                    {% endfor %}

        						</ul>
        					</aside>

        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End main Content -->



 {% endblock %}

{% block scripts %}
<script>

    $(document).on('click', '#StartButton', function (e) {
    e.preventDefault();
    let date = $('#targetdate').val();
    let user = {{ request.user.id }};
    let book = {{ book.id }};
    let data = {target: date, user:user, book: book}
    $.ajax({
        type: 'POST',
        url: "{% url 'Reading:start_reading' %}",
        data: data,
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        success: function (response) {
            let progress = response['progress'];
            let pages = {{ book.pages }};
            let percent = (progress/pages) * 100.0;
            let days = response["days"];
            let recommend = Math.ceil((pages - progress)/days);
            $('#progbar').css('width', percent+'%');
            $('#progbar').html(progress+' pages read');
            $('#progdiv').css('display', 'block');
            $('#startmodButton').css('display', 'none');
            $('#readingmodal').modal('toggle');
            $('#pageCounter').css('display', 'block');
            $('#recommendDiv').css('display', 'block');
            $('#recommendedPage').html('You need to read '+ recommend +' pages per day');
        }
    })
})

</script>

<script>
$(document).on('click', '#pageButton', function (e) {
    let pages = $('#pageNumber').val();
    let user = {{ request.user.id }};
    let book = {{ book.id }};
    let data = {pages: pages, user:user, book: book};
    $.ajax({
        type: 'POST',
        url: "{% url 'Reading:increase_page_count' %}",
        data: data,
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        success: function (response) {
            let pages = response["pages"];
            let total = response["total"];
            let days = response["days"];
            let recommend = Math.ceil((total - pages)/days)
            let percent = (pages/total) * 100.0;
            if (percent > 100) {
                percent = 100;
            }
            console.log(percent)
            $('#progbar').css('width', percent+'%').attr('aria-valuenow', percent);
            $('#progbar').html(Math.round(percent)+'%');
            $('#pageNumber').val('');
            if (percent == 100) {
                $('#recommendedPage').html('<strong>Congratulations!</strong> You completed this book!');
            }
            else {
                $('#recommendedPage').html('You need to read ' + recommend + ' pages per day');
            }
        }
    })
})
</script>

{% endblock %}